opencv-python==4.7.0.72
accelerate==0.20.3
pygments
numpy
numba
pandas
tensorboard
matplotlib
tqdm
pyyaml
boto3
funcy
transformers
pydub
pathvalidate
rich
nltk
chardet
av
bitarray
cython
sacrebleu
beartype>=0.16.1
ema-pytorch
lion-pytorch
local-attention
hydra-core>=1.1
einops
scipy
num2words
pywin32
ffmpeg-python
sentencepiece
spacy==3.5.2
librosa
jsonschema
pytorch_lightning==1.9.4
platformdirs
universal-startfile
hydra_colorlog
julius
soundfile==0.12.1
gradio==3.48.0
ffmpeg_downloader
rich_argparse
devtools
vector_quantize_pytorch
